# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/src/vscp/drivers/level1/lirc/windows/Release
/src/vscp/drivers/level1/lirc/windows/Debug
Release
Debug
Release
Debug
/src/vscp/drivers/level1/vector/win32/Release
/src/vscp/drivers/level1/vector/win32/Debug
/src/vscp/drivers/level1/xap/win32/Debug
/src/vscp/drivers/level1/xap/win32/Release
/src/vscp/drivers/level1/zanthic/win32/Debug
/src/vscp/drivers/level1/zanthic/win32/Release
VCProjectDebug
VCProjectRelease
/src/vscp/*.opensdf
/src/vscp/ipch/vscp helper dll-7f0a27e1/*.ipch
/src/vscp/ipch/rawethernet-e4fc8d3f/*.ipch
*.ipch
/src/vscp/vscpworks/*.tmp
*.*~
