[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/nlohmann"]
	path = third_party/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "third_party/civetweb"]
	path = third_party/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "third_party/sqlite3"]
	path = third_party/sqlite3
	url = https://github.com/sqlite/sqlite.git
[submodule "third_party/mustache"]
	path = third_party/mustache
	url = https://github.com/kainjow/Mustache.git
[submodule "third_party/maddy"]
	path = third_party/maddy
	url = https://github.com/progsource/maddy.git
[submodule "third_party/tiny-aes"]
	path = third_party/tiny-aes
	url = https://github.com/kokke/tiny-AES-c.git
