# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/src/vscp/drivers/level1/lirc/windows/Release
/src/vscp/drivers/level1/lirc/windows/Debug
Release
Debug
Release
Debug
/src/vscp/drivers/level1/vector/win32/Release
/src/vscp/drivers/level1/vector/win32/Debug
/src/vscp/drivers/level1/xap/win32/Debug
/src/vscp/drivers/level1/xap/win32/Release
/src/vscp/drivers/level1/zanthic/win32/Debug
/src/vscp/drivers/level1/zanthic/win32/Release
VCProjectDebug
VCProjectRelease
/src/vscp/*.opensdf
/src/vscp/ipch/vscp helper dll-7f0a27e1/*.ipch
/src/vscp/ipch/rawethernet-e4fc8d3f/*.ipch
*.ipch
/src/vscp/vscpworks/*.tmp
*.*~
AUTHORS~
Makefile
autom4te.cache
config.log
config.status
m4/Makefile
src/vscp/daemon/linux/Makefile
src/vscp/daemon/linux/Makefile~
src/vscp/daemon/linux/param2
src/vscp/daemon/linux/vscpd
src/vscp/drivers/level1/can232/linux/Makefile
src/vscp/drivers/level1/logger/linux/Makefile
src/vscp/drivers/level1/xap/linux/Makefile
src/vscp/drivers/level2/logger/README~
src/vscp/drivers/level2/logger/linux/Makefile
src/vscp/linuxvscpl1/Makefile
src/vscp/mkpasswd/Makefile
src/vscp/mkpasswd/mkpasswd
src/vscp/vscpcmd/Makefile
src/vscp/vscpcmd/vscpcmd
src/vscp/vscpworks/vscpworks
src/vscp/web/demo/libwebsockets/README~
src/vscp/drivers/level1/xap/linux/test
src/vscp/linuxvscpl1/test
README~
HISTORY~
src/vscp/drivers/level1/can232/linux/test
src/vscp/drivers/level1/logger/linux/test
src/vscp/drivers/level2/lmsensors/linux/Makefile.save
src/vscp/drivers/level2/lmsensors/linux/log.d
src/vscp/drivers/level2/lmsensors/linux/test
src/vscp/drivers/level2/logger/linux/test
src/vscp/drivers/level2/udpdrv/linux/
src/vscp/web/demo/README~
src/vscp/drivers/level2/socketcan/linux/a.out
src/vscp/drivers/level2/socketcan/linux/readsockt
src/vscp/drivers/level2/socketcan/linux/test
src/vscp/drivers/level2/socketcan/linux/readsock
