# Dustribution collection
# 
dist/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/src/vscp/drivers/level1/lirc/windows/Release
/src/vscp/drivers/level1/lirc/windows/Debug
Release
Debug
Release
Debug
/src/vscp/drivers/level1/vector/win32/Release
/src/vscp/drivers/level1/vector/win32/Debug
/src/vscp/drivers/level1/xap/win32/Debug
/src/vscp/drivers/level1/xap/win32/Release
/src/vscp/drivers/level1/zanthic/win32/Debug
/src/vscp/drivers/level1/zanthic/win32/Release
VCProjectDebug
VCProjectRelease
/src/vscp/*.opensdf
/src/vscp/ipch/vscp helper dll-7f0a27e1/*.ipch
/src/vscp/ipch/rawethernet-e4fc8d3f/*.ipch
*.ipch
/src/vscp/vscpworks/*.tmp
*.*~
AUTHORS~
Makefile
autom4te.cache
config.log
config.status
m4/Makefile
src/vscp/daemon/linux/Makefile
src/vscp/daemon/linux/Makefile~
src/vscp/daemon/linux/param2
src/vscp/daemon/linux/vscpd
src/vscp/drivers/level1/can232/linux/Makefile
src/vscp/drivers/level1/logger/linux/Makefile
src/vscp/drivers/level1/xap/linux/Makefile
src/vscp/drivers/level2/logger/README~
src/vscp/drivers/level2/logger/linux/Makefile
src/vscp/linuxvscpl1/Makefile
src/vscp/mkpasswd/Makefile
src/vscp/mkpasswd/mkpasswd
src/vscp/vscpcmd/Makefile
src/vscp/vscpcmd/vscpcmd
src/vscp/vscpworks/vscpworks
src/vscp/web/demo/libwebsockets/README~
src/vscp/drivers/level1/xap/linux/test
src/vscp/linuxvscpl1/test
README~
HISTORY~
src/vscp/drivers/level1/can232/linux/test
src/vscp/drivers/level1/logger/linux/test
src/vscp/drivers/level2/lmsensors/linux/Makefile.save
src/vscp/drivers/level2/lmsensors/linux/log.d
src/vscp/drivers/level2/lmsensors/linux/test
src/vscp/drivers/level2/logger/linux/test
src/vscp/drivers/level2/udpdrv/linux/
src/vscp/web/demo/README~
src/vscp/drivers/level2/socketcan/linux/a.out
src/vscp/drivers/level2/socketcan/linux/readsockt
src/vscp/drivers/level2/socketcan/linux/test
src/vscp/drivers/level2/socketcan/linux/readsock
src/vscp/drivers/level2/rawethernet/linux/test
src/vscp/drivers/level2/tcpdrv/linux/test
BUILD_UNIX~
src/vscp/drivers/level2/mqtt/linux/test
src/vscp/helperlib/linux/Makefile
src/vscp/drivers/level1/socketcan/linux/test
src/vscp/helperlib/linux/test
config.h
src/vscp/daemon/linux/openwrt/mkdist~
src/vscp/drivers/level1/can232/linux/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/drivers/level1/socketcan/linux/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/drivers/level2/lmsensors/linux/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/drivers/level2/logger/linux/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/drivers/level2/logger/linux/nbproject/private/launcher.properties
src/vscp/drivers/level2/mqtt/linux/nbproject/private/launcher.properties
src/vscp/drivers/level2/rawethernet/linux/nbproject/private/launcher.properties
src/vscp/drivers/level2/socketcan/linux/nbproject/private/launcher.properties
src/vscp/drivers/level2/tcpdrv/linux/nbproject/private/launcher.properties
src/vscp/helperlib/linux/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/helperlib/linux/nbproject/private/launcher.properties
src/vscp/linuxvscpl1/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/linuxvscpl1/nbproject/private/launcher.properties
src/vscp/linuxvscpl2/nbproject/private/launcher.properties
src/vscp/mkpasswd/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/mkpasswd/nbproject/private/launcher.properties
src/vscp/linuxvscpl2/nbproject/private/launcher.properties
src/vscp/mkpasswd/nbproject/private/CodeAssistancePathMapper.properties
src/vscp/mkpasswd/nbproject/private/launcher.properties
src/vscp/uvscpd/uvscpd
src/vscp/vscpcmd/nbproject/private/launcher.properties
src/vscp/vscpworks/nbproject/private/launcher.properties
src/vscp/uvscpd/nbproject/private/launcher.properties
*.properties

*.lnk

*.user

*.tlog
*.obj
*.sbr
*.log
*.bsc
*.manifest
/src/vscp/mkpasswd/BaseDebug/mkpasswd.exe.embed.manifest.res
*.pdb
*.cache
*.lastbuildstate
/src/vscp/mkpasswd/BaseDebug/mkpasswd_manifest.rc
*.unsuccessfulbuild
/src/vscp/vscp_project.sdf
/src/vscp/vscp_project.suo
/src/vscp/vscpcmd/BaseDebug/vscpcmd.exe.embed.manifest.res
/src/vscp/vscpcmd/BaseDebug/vscpcmd_manifest.rc
/src/vscp/delivery
/src/vscp/NewFolder/tcpipsim/build/
/src/vscp/NewFolder/tcpipsim/dist/
/src/vscp/build-VSCPWorksPlus-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/Makefile.Debug
/src/vscp/build-VSCPWorksPlus-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/Makefile.Release
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/Makefile.Debug
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/Makefile.Release
/src/vscp/daemon/win32/vscpd_vc2010.sdf
/src/vscp/daemon/win32/vscpd_vc2010.suo
/src/vscp/utils/vscp_bootloader/vscp_bootloader/vscp_bootloader.pro.user.1203ce1
/new  1.txt
/src/vscp/drivers/level1/logger/win32/canallogger.sdf
/src/vscp/drivers/level1/logger/win32/canallogger.suo
/src/vscp/daemon/win32/ReleaseDll/vscpd.exe
/src/vscp/daemon/win32/ReleaseDll/vscpd.exe.embed.manifest.res
/src/vscp/daemon/win32/ReleaseDll/vscpd.ilk
/src/vscp/daemon/win32/ReleaseDll/vscpd_manifest.rc
/src/vscp/vscpworks/vscpworks-autosave.pjd
/src/vscp/vscpworks/vscpworks.vcxproj.filters
/src/common/_mongoose.c
/src/common/_mongoose.h
/src/vscp/drivers/level2/logger/win32/Output-Build.txt
/src/vscp/helperlib/windows/test/test.vcxproj
/src/vscp/helperlib/windows/test/test.vcxproj.filters
/src/vscp/UpgradeLog.XML
/src/vscp/_UpgradeReport_Files/UpgradeReport.css
/src/vscp/_UpgradeReport_Files/UpgradeReport.xslt
/src/vscp/_UpgradeReport_Files/UpgradeReport_Minus.gif
/src/vscp/_UpgradeReport_Files/UpgradeReport_Plus.gif
/install_files/web/old
/src/vscp/drivers/level1/peak/win32/testpcan/testpcan.aps
/src/vscp/drivers/delivery
src/vscp/drivers/level2/lmsensors/linux/-D__LINUX__
src/vscp/helperlib/linux/examples/bigtest
/src/vscp/drivers/level1/usb2can/usb2can/UpgradeLog.XML
/src/vscp/drivers/level1/usb2can/usb2can/_UpgradeReport_Files/UpgradeReport.css
/src/vscp/drivers/level1/usb2can/usb2can/_UpgradeReport_Files/UpgradeReport.xslt
/src/vscp/drivers/level1/usb2can/usb2can/_UpgradeReport_Files/UpgradeReport_Minus.gif
/src/vscp/drivers/level1/usb2can/usb2can/_UpgradeReport_Files/UpgradeReport_Plus.gif
/src/vscp/drivers/level1/usb2can/usb2can/usb2can.sdf
/src/vscp/drivers/level1/usb2can/usb2can/usb2can.suo
/src/vscp/drivers/level1/usb2can/usb2can/usb2can.vcxproj.filters
/src/vscp/drivers/level1/can4vscp/win32/*.filters
/src/vscp/vscpworks/*.bak
/src/vscp/vscpworks/*.aps
/src/vscp/vscp_project.v12.suo
backup-012120151433-pre-vscp.tgz
backup-012120151454-pre-vscp.tgz
backup-012120151559-pre-vscp.tgz
src/vscp/daemon/linux/codelite_vscpd/.codelite/codelite_vscpd.tags
src/vscp/daemon/linux/codelite_vscpd/.codelite/cppcheck.list
src/vscp/daemon/linux/codelite_vscpd/.codelite/valgrind.memcheck.log.xml
src/vscp/drivers/level1/usb2can/usb2can/common/dlldrvobj.cpp.rej
src/vscp/drivers/level1/usb2can/usb2can/vscp_common/canal.h.rej
src/vscp/helperlib/linux/Makefile~
src/vscp/helperlib/linux/examples/example1
src/vscp/linuxvscpl2/
src/vscp/vscpworks/Makefile~
src/vscp/vscpworks/core
backup-021720151228-pre-vscp-software.tgz
backup-021720151241-pre-vscp-software.tgz
src/vscp/daemon/linux/core
src/vscp/drivers/level2/wire1/linux/a.out
src/vscp/drivers/level2/wire1/linux/test
vscp-software_1.0.1-1_amd64.deb
/install_files/web/testws/google_line_simple - Copy.html
src/vscp/drivers/level1/can4vscp/linux/test
/install_files/simuation/temp1.txt
/src/vscp/helperlib/windows/*.aps
src/vscp/drivers/level2/sim/linux/nbproject/
src/vscp/drivers/level2/sim/linux/test
/src/vscp/daemon/win32/service/vscpsrv.sdf
/src/vscp/.vs/vscp_project/v14/*.suo
/src/vscp/*.opendb
/install_files/web/browse.VC.db
src/vscp/daemon/linux/codelite_vscpd/vscp2drv_sim/
src/vscp/drivers/level2/sim/linux/vscp2drv_sim/
/src/vscp/daemon/linux/.codelite/compilation.db
/src/vscp/daemon/linux/.codelite/refactoring.db
/src/vscp/daemon/linux/.codelite/sftp-workspace-settings.conf
/src/vscp/daemon/linux/.codelite/subversion.conf
/src/vscp/daemon/linux/.codelite/test.session
/src/vscp/daemon/linux/.codelite/test.tags
/src/vscp/daemon/linux/.codelite/test.workspace.ake_hedman
/src/vscp/daemon/linux/.codelite/tweaks.conf
/src/vscp/daemon/linux/.codelite/valgrind.memcheck.supp
/src/vscp/drivers/level1/can232/linux/nbproject/configurations.xml
/src/vscp/drivers/level1/can232/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level1/can232/linux/nbproject/private/private.xml
/src/vscp/drivers/level1/can232/linux/nbproject/project.xml
/src/vscp/drivers/level1/can4vscp/linux/nbproject/configurations.xml
/src/vscp/drivers/level1/can4vscp/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level1/can4vscp/linux/nbproject/private/private.xml
/src/vscp/drivers/level1/can4vscp/linux/nbproject/project.xml
/src/vscp/drivers/level1/logger/linux/nbproject/configurations.xml
/src/vscp/drivers/level1/logger/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level1/logger/linux/nbproject/private/private.xml
/src/vscp/drivers/level1/logger/linux/nbproject/project.xml
/src/vscp/drivers/level1/socketcan/linux/nbproject/configurations.xml
/src/vscp/drivers/level1/socketcan/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level1/socketcan/linux/nbproject/private/private.xml
/src/vscp/drivers/level1/socketcan/linux/nbproject/project.xml
/src/vscp/drivers/level1/xap/linux/nbproject/configurations.xml
/src/vscp/drivers/level1/xap/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level1/xap/linux/nbproject/private/private.xml
/src/vscp/drivers/level1/xap/linux/nbproject/project.xml
/src/vscp/drivers/level2/lmsensors/linux/nbproject/configurations.xml
/src/vscp/drivers/level2/lmsensors/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level2/lmsensors/linux/nbproject/private/private.xml
/src/vscp/drivers/level2/lmsensors/linux/nbproject/project.xml
/src/vscp/drivers/level2/logger/linux/nbproject/configurations.xml
/src/vscp/drivers/level2/logger/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level2/logger/linux/nbproject/private/private.xml
/src/vscp/drivers/level2/logger/linux/nbproject/project.xml
/src/vscp/drivers/level2/mqtt/linux/nbproject/configurations.xml
/src/vscp/drivers/level2/mqtt/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level2/mqtt/linux/nbproject/private/private.xml
/src/vscp/drivers/level2/mqtt/linux/nbproject/project.xml
/src/vscp/drivers/level2/rawethernet/linux/nbproject/configurations.xml
/src/vscp/drivers/level2/rawethernet/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level2/rawethernet/linux/nbproject/private/private.xml
/src/vscp/drivers/level2/rawethernet/linux/nbproject/project.xml
/src/vscp/drivers/level2/tcpdrv/linux/nbproject/configurations.xml
/src/vscp/drivers/level2/tcpdrv/linux/nbproject/private/configurations.xml
/src/vscp/drivers/level2/tcpdrv/linux/nbproject/private/private.xml
/src/vscp/drivers/level2/tcpdrv/linux/nbproject/project.xml
/src/vscp/helperlib/linux/codelite_helperlib.project
/src/vscp/helperlib/linux/nbproject/configurations.xml
/src/vscp/helperlib/linux/nbproject/private/configurations.xml
/src/vscp/helperlib/linux/nbproject/private/private.xml
/src/vscp/helperlib/linux/nbproject/project.xml
nbproject/
src/vscp/daemon/linux/nbproject/
src/vscp/vscpworks/nbproject/
.vscode/
src/vscp/daemon/linux/1
src/vscp/daemon/linux/1-shm
src/vscp/daemon/linux/1-wal
src/vscp/daemon/linux/60
src/vscp/daemon/linux/61.744183
src/vscp/daemon/linux/8080
src/vscp/daemon/linux/9598
src/vscp/daemon/linux/node_modules/webpack/
tests/helperlib/ttt
tests/multicast/alistener
tests/multicast/announce-listener
tests/multicast/compiling_error.txt
tests/multicast/mclistener
tests/multicast/mcsender
tests/multicast/sender
tests/udp/receive_vscp_udp_frame
tests/udp/send_vscp_udp_frame
src/vscp/helperlib/linux/libvscphelper-dev_12.29.0-1_amd64.deb
src/vscp/helperlib/linux/libvscphelper.so.12.29.0
src/vscp/vscp-mkpasswd/vscp-mkpasswd
src/vscp/helperlib/linux/libvscphelper.so.*
src/vscp/linuxvscpl1/libvscpl1.so.*

/.metadata/
.cproject
.project
.settings/
RemoteSystemsTempFiles/
/src/vscp/.vs
/src/vscp/vscp_project.VC.db
/src/vscp/drivers/level1/zanthic/win32/debug/vscpl1_zanthicdrv.dll
/src/vscp/drivers/level1/zanthic/win32/debug/vscpl1_zanthicdrv.exp
/src/vscp/drivers/level1/zanthic/win32/debug/vscpl1_zanthicdrv.lib
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_0_MinGW_32bit-Debug/debug/moc_wndbootloader.cpp
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_0_MinGW_32bit-Debug/debug/vscp_bootloader.exe
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/debug/moc_wndbootloader.cpp
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/debug/vscp_bootloader.exe
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/debug/vscp_bootloader.exe_manifest.rc
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/debug/vscp_bootloader.exe_manifest.res
/src/vscp/utils/vscp_bootloader/build-vscp_bootloader-Desktop_Qt_5_2_1_MSVC2010_32bit-Debug/debug/vscp_bootloader.ilk
/src/vscp/vscp-mkpasswd/mkpasswd.mak
/src/vscp/vscpservice/debug/vc120.idb
src/vscp/samples/esp8266/vscp_daemon_connect/vscptest
src/vscp/samples/esp8266/vscp_daemon_connect/vscptest-0x00000.bin
src/vscp/samples/esp8266/vscp_daemon_connect/vscptest-0x10000.bin
src/vscp/helperlib/linux/examples/send1
src/vscp/helperlib/linux/examples/stcptest
src/vscp/helperlib/linux/examples/send_periodic
src/vscp/helperlib/linux/examples/simple_tls_client
src/vscp/helperlib/linux/examples/simple_tls_server
src/vscp/helperlib/linux/examples/stcp_tls_client
src/vscp/drivers/level2/rpimax6675/linux/test
src/vscp/drivers/level2/rpigpio/linux/test
src/vscp/drivers/level2/rpigpio/linux/test-if2
src/vscp/drivers/level2/rpimax6675/linux/test
src/vscp/drivers/level2/rpimax6675/linux/test-if2
src/vscp/drivers/level2/rpimax6675/linux/test
src/vscp/drivers/level2/rpilcd/linux/test
src/vscp/drivers/level2/rpilcd/linux/test-if2
src/vscp/relayd/a.out
src/vscp/relayd/relayd
tests/helperlib/unittest
googletest
