<?xml version = "1.0" encoding = "UTF-8" ?>
<vscpworksconfig>
<general>
<width>685</width>
<height>499</height>
<xpos>152</xpos>
<ypos>89</ypos>
<path2tempfile>/tmp</path2tempfile>
<path2logfile enable="false" level="0" ></path2logfile>
<RegisterReadResendTimeout>300</RegisterReadResendTimeout>
<RegisterReadErrorTimeout>1000</RegisterReadErrorTimeout>
<RegisterReadMaxRetries>2</RegisterReadMaxRetries>
</general>
<vscpclient>
<Autoscroll>true</Autoscroll>
<VscpRcvPyjamasStyle>true</VscpRcvPyjamasStyle>
<VscpRcvShowField0  enable="true" ></VscpRcvShowField0>
<VscpRcvShowField1  enable="true" ></VscpRcvShowField1>
<VscpRcvShowField2  enable="true" ></VscpRcvShowField2>
<VscpRcvShowField3  enable="true" ></VscpRcvShowField3>
<VscpRcvShowField4  enable="true" ></VscpRcvShowField4>
<VscpRcvShowField5  enable="true" ></VscpRcvShowField5>
<VscpRcvShowField6  enable="true" ></VscpRcvShowField6>
<VscpRcvShowField7  enable="true" ></VscpRcvShowField7>
<VscpRcvShowField8  enable="true" ></VscpRcvShowField8>
<VscpRcvShowField9  enable="true" ></VscpRcvShowField9>
<VscpRcvFieldOrder0>0</VscpRcvFieldOrder0>
<VscpRcvFieldOrder1>1</VscpRcvFieldOrder1>
<VscpRcvFieldOrder2>2</VscpRcvFieldOrder2>
<VscpRcvFieldOrder3>3</VscpRcvFieldOrder3>
<VscpRcvFieldOrder4>4</VscpRcvFieldOrder4>
<VscpRcvFieldOrder5>5</VscpRcvFieldOrder5>
<VscpRcvFieldOrder6>6</VscpRcvFieldOrder6>
<VscpRcvFieldOrder7>7</VscpRcvFieldOrder7>
<VscpRcvFieldOrder8>8</VscpRcvFieldOrder8>
<VscpRcvFieldOrder9>9</VscpRcvFieldOrder9>
<VscpRcvFieldText0>Dir</VscpRcvFieldText0>
<VscpRcvFieldText1>Time</VscpRcvFieldText1>
<VscpRcvFieldText2>GUID</VscpRcvFieldText2>
<VscpRcvFieldText3>Class</VscpRcvFieldText3>
<VscpRcvFieldText4>Type</VscpRcvFieldText4>
<VscpRcvFieldText5>Head</VscpRcvFieldText5>
<VscpRcvFieldText6>Cnt</VscpRcvFieldText6>
<VscpRcvFieldText7>Data</VscpRcvFieldText7>
<VscpRcvFieldText8>Timestamp</VscpRcvFieldText8>
<VscpRcvFieldText9>Note</VscpRcvFieldText9>
<VscpRcvFieldWidth0>30</VscpRcvFieldWidth0>
<VscpRcvFieldWidth1>120</VscpRcvFieldWidth1>
<VscpRcvFieldWidth2>270</VscpRcvFieldWidth2>
<VscpRcvFieldWidth3>70</VscpRcvFieldWidth3>
<VscpRcvFieldWidth4>70</VscpRcvFieldWidth4>
<VscpRcvFieldWidth5>40</VscpRcvFieldWidth5>
<VscpRcvFieldWidth6>40</VscpRcvFieldWidth6>
<VscpRcvFieldWidth7>300</VscpRcvFieldWidth7>
<VscpRcvFieldWidth8>90</VscpRcvFieldWidth8>
<VscpRcvFieldWidth9>400</VscpRcvFieldWidth9>
<VscpTrmitShowField0  enable="true" ></VscpTrmitShowField0>
<VscpTrmitShowField1  enable="true" ></VscpTrmitShowField1>
<VscpTrmitShowField2  enable="true" ></VscpTrmitShowField2>
<VscpTrmitShowField3  enable="true" ></VscpTrmitShowField3>
<VscpTrmitShowField4  enable="true" ></VscpTrmitShowField4>
<VscpTrmitShowField5  enable="true" ></VscpTrmitShowField5>
<VscpTrmitFieldOrder0>0</VscpTrmitFieldOrder0>
<VscpTrmitFieldOrder1>1</VscpTrmitFieldOrder1>
<VscpTrmitFieldOrder2>2</VscpTrmitFieldOrder2>
<VscpTrmitFieldOrder3>3</VscpTrmitFieldOrder3>
<VscpTrmitFieldOrder4>4</VscpTrmitFieldOrder4>
<VscpTrmitFieldOrder5>30</VscpTrmitFieldOrder5>
<VscpTrmitFieldText0>x</VscpTrmitFieldText0>
<VscpTrmitFieldText1>Name</VscpTrmitFieldText1>
<VscpTrmitFieldText2>Period</VscpTrmitFieldText2>
<VscpTrmitFieldText3>Count</VscpTrmitFieldText3>
<VscpTrmitFieldText4>Trigger</VscpTrmitFieldText4>
<VscpTrmitFieldText5>Event</VscpTrmitFieldText5>
<VscpTrmitFieldWidth0>30</VscpTrmitFieldWidth0>
<VscpTrmitFieldWidth1>200</VscpTrmitFieldWidth1>
<VscpTrmitFieldWidth2>60</VscpTrmitFieldWidth2>
<VscpTrmitFieldWidth3>60</VscpTrmitFieldWidth3>
<VscpTrmitFieldWidth4>120</VscpTrmitFieldWidth4>
<VscpTrmitFieldWidth5>900</VscpTrmitFieldWidth5>
<VscpRcvFrameRxTextColour  r="0" g="0" b="128" ></VscpRcvFrameRxTextColour>
<VscpRcvFrameRxBgColour  r="255" g="255" b="255" ></VscpRcvFrameRxBgColour>
<VscpRcvFrameTxTextColour  r="128" g="128" b="128" ></VscpRcvFrameTxTextColour>
<VscpRcvFrameTxBgColour  r="255" g="255" b="255" ></VscpRcvFrameTxBgColour>
<VscpRcvFrameLineColour  r="0" g="0" b="0" ></VscpRcvFrameLineColour>
</vscpclient>
<vscpinterface>
<canaldriver>
<description>Lawicel</description>
<path>C:\WINNT\system32\canusbdrv.dll</path>
<config>LWNQ06ES;500</config><flags>4</flags>
</canaldriver>
<canaldriver>
<description>PEAK USB Driver</description>
<path>D:\WINDOWS\system32\peakdrv.dll</path>
<config>CANUSB;500</config><flags>0</flags>
</canaldriver>
<vscpdaemon>
<description>Grodans Paradis</description>
<host>192.168.1.184</host>
<port>9598</port>
<username>admin</username>
<password>secret</password>
<guid>CD:CD:CD:CD:CD:CD:CD:CD:CD:CD:CD:CD:CD:CD:CD:CD</guid>
<filter  priority="0"  class="0"  type="0"  GUID="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></filter>
<mask  priority="0"  class="0"  type="0"  GUID="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></mask>
</vscpdaemon>
<vscpdaemon>
<description>Oxygen</description>
<host>localhost</host>
<port>9598</port>
<username>admin</username>
<password>secret</password>
<guid>FF:FF:FF:FF:FF:FF:FF:FE:10:11:11:11:00:02:00:00</guid>
<filter  priority="0"  class="0"  type="0"  GUID="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></filter>
<mask  priority="0"  class="0"  type="0"  GUID="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></mask>
</vscpdaemon>
<vscpdaemon>
<description>locahost without filter</description>
<host>localhost</host>
<port>9598</port>
<username>admin</username>
<password>secret</password>
<guid>00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00</guid>
<filter  priority="0"  class="0"  type="0"  GUID="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></filter>
<mask  priority="0"  class="0"  type="0"  GUID="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></mask>
</vscpdaemon>
</vscpinterface>
</vscpworksconfig>
