.ux-code{background:#fff;font-size:18px;line-height:24px;color:#000}.ux-code-comment{color:#777;font-style:italic}.ux-code-string{color:#99BD3A}.ux-code-comment > .ux-code-string{color:#777}.ux-code-number{color:#2F88DE}.ux-code-operator{color:#aaa}.ux-code-keyword{color:#dd7522}.ux-code-function{color:#f3c55f}

.itemgroup {
	position:absolute;
	left:62px;
	font-size:1em;
	font-weight:bold;
}
		
.itemright {
	position:absolute;
	right:10px;
	width:32px;
	background-color:#ffffff;
}
	
.itemleft {
	position:absolute;
	left:10px;
	width:32px;
}
	
.itemleft .img {
	vertical-align:text-top;
}
	
.Special .x-list-item:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.Special .x-list-item:last-child {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
