#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "USB2CAN converter"
#define VER_INTERNALNAME_STR        "usb2can"
#define VER_ORIGINALFILENAME_STR    "usb2can.sys"

#include "common.ver"


