/////////////////////////////////////////////////////////////////////////////

#include "wx/msw/wx.rc"	//Includes WX library default resources 


/////////////////////////////////////////////////////////////////////////////
//
// ICONS
//
Testdc                ICON    "res/Testdc.ico"


/////////////////////////////////////////////////////////////////////////////
//
// BITMAPS
//
//help                    BITMAP  "res/help.bmp"
