
html{
	top:0;
	height: 100%;
	text-align:center;
	margin:0 auto;
	padding:0;
	background: url(../img/bg.jpg) no-repeat center center #fff;
	overflow:scroll;
}

body {
	top:0;
	height: 100%;
	width:100%;
	margin: 0 auto;
	padding:0;
	text-align:left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.5em;
}

a:link{ color: #CF7F18; }

a:visited{ color: #AD660C; }

a:hover, a:focus{ color: #FF9814;	text-decoration:none; }

p{	margin:1em 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{	margin-top:-0.05em;}

h1, h2, h3, h4, h5, h6{ color: #9CA716; margin-bottom:0.5em; }

h1{ font-size:24px;}

h2{	font-size:20px;}

h3{	font-size:18px;}

h4{	font-size:16px;}

h5{	font-size:14px;}

h6{	font-size:12px;}

ol, ul{	margin: 1em 0 1em 2em; }

ol ol, ol ul, ul ol, ul ul{ margin-top:0; margin-bottom:0; }

ol li{	list-style:decimal }
ol li ol li{ list-style:upper-alpha; }
ol li ol li ol li{ list-style:upper-roman; }

ul li{ list-style:disc;}

em{font-style:italic;}

strong{font-weight:bold;}

em strong, strong em{ font-weight:bold; font-style:italic; }

#container {
	display:block;
	position: absolute;
	padding:0;
	width:100%;
	height:210px;
	background:#fff;
	top:50%;
	margin:-100px 0 0 0;
	border:solid #E69623;
	border-width:3px 0 3px 0;
	
	opacity: 0.90;
	-moz-opacity: 0.90;
	filter: alpha(opacity=90);
}

#logo{
	display:block;
	position: absolute;
	width:186px;
	height:32px;
	background: url(../img/logo.gif) no-repeat 0 0;
	left:50%;
	margin:0 0 0 -280px;
	top:15px;
	overflow:hidden;
	text-indent:999em;
	line-height:999em;
}

#content{
	position:relative;
	display:block;
	width: 400px;
	left:50%;
	margin:0 0 0 -50px;
	padding:15px 0;
	top:10px;
}

#footer {
	position: absolute;
	bottom: 0;
	margin:0;
	width:100%;
	text-align:center;
	left:0;
}