<?xml version = "1.0" encoding = "UTF-8" ?>

<!-- Version 0.0.1	2009-02-01 -->
<!-- This files holds the decion matrix for the daemon -->
<!-- The matrix consist of the following items -->
<!-- row - one for each decion matrix row -->
<!--     mask - standard VSCP level II mask -->
<!--     filter - standard VSCP level II filter -->
<!--     control - standard VSCP level II 32-bit control value -->
<!--     action - VSCP daemon specific 32-bit action code. -->
<!--     time - Determines the time when the action is allwed to occur -->
<!--            This method parse a string on the form YYYY:MM:DD HH:MM:SS. Both parts can -->
<!--            be replaced with a '*' to indicate that it is a no care meaning that * * is -->
<!--            for all dates and all time while * HH:MM:SS is for all dates but a specific times. -->
<!--            Furter all elemenst such as YYYY, MM, DD, HH, MM, SS can be replaced with a * to -->
<!--            represent a no care for each where it's present. Each can also be given as a list -->
<!--            seperated with '/' characters to indicate several choices. So YYYY:MM:DD HH:0/5/10;SS -->
<!--            means the action should be performed on a specific date and hour on every full hour, five -->
<!--            minutes past and ten minutes past.-->
<dm>
    <row enabled="true" groupid="test">
        <!-- Mask to trigger row - zero for a bit is dont care -->
        <mask priority="0" class="0xffff" type="0xff" guid="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"></mask>
		
        <!-- Filter to trigger row - if mask have a one in a bit it is compared with filter -->
        <filter priority="7" class="0xffff" type="5" guid="FF:EE:DD:CC:BB:AA:99:88:77:66:55:44:33:22:11:00"></filter>
        
		<!-- Date and time from which action should trigger -->
        <allowed_from>1977-01-01 00:00:00</allowed_from>
        
		<!-- Date and time up to which action should trigger -->
        <allowed_to>2099-12-31 23:59:59</allowed_to>
        
		<!-- Date and time up to which action should trigger -->
        <allowed_weekdays>mtwtfss</allowed_weekdays>
        
		<!-- A specific time (or pattern) when the action should trigger -->
        <allowed_time>*-*-* *:*:0/10/20/30/40/50</allowed_time>
		<!-- Every zero,five and ten minutes-->
		
		<!-- Control code - Note that the row property enabled is doubled as the highes bit here -->	
        <control>0x80000000</control>  <!-- enable row -->
        
		<!-- Action code  -->
        <action>0x00000010</action>
        
		<!-- Action parameter -->
        <!-- <param>0,20,3,0,0,0:1:2:3:4:5:6:7:8:9:10:11:12:13:14:15,0,1,35;bSent</param> -->
		<param>c:\windows\notepad2.exe</param>
        
		<!-- Comment for decion matrix row -->
        <comment>This is a dumb comment</comment>
    </row>
</dm>