<?xml version="1.0" encoding="utf-8"?>

<persistent>
    <!-- persistant storage is here -->

    <variable type="string" > 
        <!-- string -->
        <name>testvariable_string</name>
        <value>This is a string</value>
    </variable>

    <variable type="bool" > <!-- type="boolean" also works -->
        <!-- boolean -->
        <name>testvariable_bool</name>
        <value>true</value> <!-- numericals can also be used == 0 is false. -->
    </variable>

    <variable type="int" > <!-- type="integer" also works -->
        <!-- integer -->
        <name>testvariable_int</name>
        <value>1956</value>
    </variable>

    <variable type="long" >
        <!-- long -->
        <name>testvariable_long</name>
        <value>0xffffffff</value>
    </variable>

    <variable type="float" >  <!-- type="double" also works -->
        <!-- Floating point value -->
        <name>testvariable_float</name>
        <value>3.124</value>
    </variable>
	
	<variable type="measurement" >
        <!-- normalized integer -->
        <name>testvariable_measurement</name>
        <value>0x00,0x01,0x00,0x90,90,1,2,3</value>
    </variable>

    <variable type="event" >
        <!-- VSCP Event -->
        <name>testvariable_event</name>
        <value class="10" type="40" data="0x12,1,2,3,4,5"></value>
    </variable>

    <variable type="guid" >
        <!-- VSCP GUID -->
        <name>testvariable_guid</name>
        <value>ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:00:01</value>
    </variable>
	
	<variable type="data" >
        <!-- VSCP data -->
        <name>testvariable_data</name>
        <value>1,2,3,4,5,6,7</value>
    </variable>
	
	<variable type="class" >
        <!-- VSCP class -->
        <name>testvariable_class</name>
        <value>100</value>
    </variable>
	
	<variable type="type" >
        <!-- VSCP type -->
        <name>testvariable_type</name>
        <value>1</value>
    </variable>
	
	<variable type="timestamp" >
        <!-- VSCP timestamp -->
        <name>testvariable_timestamp</name>
        <value>100</value>
    </variable>

    <variable type="datetime" >
        <!-- Date + Time in ISO format -->
        <name>testvariable_datetime</name>
        <value>2009-02-14 18:05:00</value>
    </variable>
	
   
   <!-- numericals also work -->

   <variable type="1">
      <name>test1</name>
      <value>This is some sample text</value>
   </variable>
   
   <variable type="1">
      <name>test2</name>
      <value>This is also some sample text</value>
   </variable>

   <variable type="2">
      <name>boolenavar</name>
      <value>true</value>
   </variable>

   <variable type="3">
      <name>intvar1</name>
      <value>65535</value>
   </variable>

   <variable type="3">
      <name>intvar2</name>
      <value>-23</value>
   </variable>
    
</persistent>