#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export prefix=/usr
export exec-prefix=/usr
export libdir=/usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=makefile

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.txt

override_dh_auto_build:
	dh_auto_build -- WITH_TLS=yes

override_dh_auto_test:

override_dh_strip:
	dh_strip -p vscpd 
	dh_strip --remaining-packages

override_dh_auto_install:
	install -d debian/vscpd/var/lib/vscp/
	install -d debian/vscpd/var/lib/vscp/drivers/
	install -d debian/vscpd/var/lib/vscp/drivers/level1/
	install -d debian/vscpd/var/lib/vscp/drivers/level2/
	install -d debian/vscpd/var/lib/vscp/web/
	install -d debian/vscpd/var/lib/vscp/web/html
	install -d debian/vscpd/var/lib/vscp/web/html/css
	install -d debian/vscpd/var/lib/vscp/web/html/images
	install -d debian/vscpd/var/lib/vscp/web/html/js
	install -d debian/vscpd/var/lib/vscp/vscpd/
	install -d debian/vscpd/var/log/vscp/
	install -d debian/vscpd/usr/share/vscp
	install -d debian/vscpd/usr/share/vscp/vscpd
	install -d debian/vscpd/usr/share/vscp/vscpd/certs
	install -d debian/vscpd/usr/sbin/
	install -m 755 src/vscp/daemon/linux/vscpd debian/vscpd/usr/sbin/
	install -d debian/vscpd/usr/bin/
	install -m 755 src/vscp/vscp-mkpasswd/vscp-mkpasswd debian/vscpd/usr/bin/vscp-mkpasswd
	install -m 755 src/vscp/vscpcmd/vscpcmd debian/vscpd/usr/bin/vscpcmd
	install -d debian/vscpd/etc/vscp/ca_certificates/
	install -m 644 debian/README-ca_certificates debian/vscpd/etc/vscp/ca_certificates/README
	install -d debian/vscpd/etc/vscp/certs/
	install -m 644 debian/README-certs debian/vscpd/etc/vscp/certs/README
	install -m 644 install_files/vscp.key debian/vscpd/etc/vscp/certs/vscp.key
	install -m 644 install_files/unix/vscpd.conf debian/vscpd/etc/vscp/vscpd.conf
	install -d debian/vscpd/lib/systemd/system/
	install -m 644  ./service/systemd/vscpd.service.notify debian/vscpd/lib/systemd/system/vscpd.service
	install -d debian/vscpd/usr/share/man/man1/
	install man/vscpcmd.1 debian/vscpd/usr/share/man/man1/vscpcmd.1
	install man/vscp-mkpasswd.1 debian/vscpd/usr/share/man/man1/vscp-mkpasswd.1
	install -d debian/vscpd/usr/share/man/man5/
	install man/vscpd.conf.5 debian/vscpd/usr/share/man/man5/vscpd.conf.5
	install -d debian/vscpd/usr/share/man/man7/
	install man/vscpd-tls.7 debian/vscpd/usr/share/man/man7/vscpd-tls.7
	install man/vscp.7 debian/vscpd/usr/share/man/man7/vscp.7
	install -d debian/vscpd/usr/share/man/man8/
	install man/vscpd.8 debian/vscpd/usr/share/man/man8/vscpd.8
	install -d debian/vscpd/usr/share/man/man5/