name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@master
    - name: configure
      run: ./configure
    - name: googletest_build
      run: cd googletest && mkdir build && cd build && cmake .. 
    - name: make
      run: make 
    - name: googeltest  
      run: make -f googletest/build/Makefile
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
